<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
        <header>
          {{ partial "nav.html" . }}
        </header>
        {{ partial "breadcrumbs.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        <p class="text-muted text-uppercase mb-small text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        <hr/>
                        <div>
                         <h5>物数科技公司介绍</h5>
                         <p style="font-size:12px;line-height:26px">
                         物数（上海）信息科技有限公司成立于2017年11月，国家工信部区块链可信联盟理事成员之一，工业应用项目组组长单位。
                         致力于成为新一代“智联网”的构建者。 物数科技是以区块链为核心的产业赋能平台，结合物联网，边缘计算，SaaS，人工智能等技术，
                         在Internet之上构建一个能够实现物理世界和数字世界的数字镜像商业，从而帮助产业界实现数字化转型及产融结合。
                         物数科技为客户提供一键生成的区块链解决方案助力客户建立全球信任网络，降低信任成本与业务风险，迅速的完成业务升级转型。 
                         物数科技以”用数字连接万物众生,以信任加速价值流通”为使命 ，秉承“客户优先、诚信负责、创新为要 、尊重他人、信任坦诚、享受工作”的企业核心价值观. 
                         物数团队成员来自于不同领域的杰出团队，包括IBM中国研究院、SAP中国研发中心以及EMC数据服务团队等。成员们在各自业务和技术领域里都曾有过闪耀的成绩。
                         团队在产品、软件方面开发实力雄厚，经验丰富，团队成员平均有的8年以上的全球化专业的软件研发经验。 除此以外，团队在科研攻坚上面也具备较强实力，
                         在软件工程，数据库，数据挖掘，云服务，分布式计算，并行计算等领域的顶级国际会议和期刊（SIGMOD, VLDB, ICDCS, ICPP, ICSE, SPLASH, PPoPP, KDD,
                          ICSM, WWW, ICWS, CLOUD, CIKM等）有100篇以上的高质量科研论文发表。团队在相关领域还有超过90个发明专利。 秉承“致力于成为全球数字商业科技的领跑者”的坚定信念，
                          围绕共同的核心价值观，物数科技将杰出团队与人才聚合在平台上，一起推进全球数字商业科技的发展。
                         </p>
                        </div>
                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
